<% content_for :wrapper_class, 'wrapper__centered' %>

<%= simple_form_for @art, html: {class: "art-form"} do |f| %>
  <div class="art-form__top">
    <% 8.times.each do |i| %>
    <div class="art-form__row">
      <% 8.times.each do |ii| %>
      <input class="art-form__input" maxlength="7" placeholder="#ffffff" value="<%= @art.colors[i][ii] unless @art.colors[i].blank? %>" name="colors[<%= i %>][<%= ii %>]">
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="art-form__bottom">
    <%= f.submit 'Save', class: "button button--primary" %>
  </div>
<% end %>
