<!DOCTYPE html>
<html>
  <head>
    <title>Pixel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav">
      <div class="nav__left">
        <%= link_to "PIXEL", arts_path, class: "nav__link" %>
      </div>
      <div class="nav__right">
        <%= link_to "Create Art", new_art_path, class: "nav__link" %>
      </div>
    </nav>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
